.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 0.25em;
}

.error_message {
  margin-bottom: 0;
  font-size: smaller;
  color: red;
}
