* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: orange;
  text-align: center;
}

p {
  text-align: right;
}

h4 {
  color: green;
}

h5 {
  border: 3px solid black;
  padding-left: 20px;
}
